html {
    position: relative;
    min-height: 100%;
    display: flex;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-image: linear-gradient(to right, #990000, white);
    width: 100%;
    height: 60px;
    display: inline-block;
    border-bottom-style: solid;
    border-color: gray;
    border-width: 3px;
}

header h1 {
    background-color: none;
    color: black;
    width: 200px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    padding: 11.5px 8px;
    text-align: center;
    margin-left: 50px;
}

.container {
    flex-flow: row;
}

#contact, #portfolio, #about {
    float: right;
    padding: 10px;
    margin-top: 10px;
}

#contact {
    padding-right: 0;
    margin-right: 65px;
}

.aboutme, .Porto {
    background-color: rgb(172, 161, 161);
    opacity: .9;
    width: 920px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 35px;
    margin-bottom: 300px;
}

header h1, nav {
    display: inline-block;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 2 00px;
    margin-top: 40px;
}

footer {
    line-height: 40px;
    color: rgba(255, 255, 255, 0.692);
    opacity: .9;
    text-align: center;
    background-color: rgb(44, 42, 42);
    width: 100%;
    border-top-style: solid;
    border-color: rgb(58, 54, 54);
    border-width: 3px;
    height: 40px;
}

.aboutme h2, .Porto h2 {
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-color: lightgray;
    font-weight: bold;
    font-size: 30px;
}

img {
    float: left;
    margin-right: 15px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    font-size: 17px;
    line-height: 1.3;
}

.Form {
    display: flex;
    padding: 0px 30px 0px 30px;
    width: 900px;
    height: 300px;
    background-color: rgb(172, 161, 161);
    opacity: .9;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 130px;
}

#form {
    align-items: center;
    justify-content: center;
}

#textbox {
    height: 100px;
    font-size: 12pt;
}

.Submit {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 200px;
}

.Submit h2 {
    text-align: center;
    margin-bottom: 0;
}

#home {
    margin: 0 0 auto !important;
    size: 300%;
}

.Porto {
    _margin-left: 60px;
}

.images {
    width: 900px;
    margin-top: 100px;
    position: relative;
}

#one, #two, #three, #four, #five, #six {
    margin-bottom: 20px;
    margin-left: 130px;
}

#headerP {
    height: 20px;
    width: 920px;
}

.images img {
    margin: 20px;
}

@media only screen and (max-width: 980px) {
    header h1 {
        font-size: 25px;
        padding-top: 15px;
        margin-left: 4px;
        width: fit-content;
    }
    .Porto, .Form, .aboutme {
        margin: 5px 3px;
        width: 650px;
    }

    .aboutme img {
        height: 452px;
        width: 340px;
    }

    .images img {
        float: none;
        width: 240px;
        justify-content: 
    }

    .images {
        float: left;
    }
    #one, #two, #three, #four, #five, #six {
        margin-left: 30px;
        float: left;
    }

    .Porto h2 {
        width: 640px;
    }
}

@media only screen and (max-width: 768px) {
    header h1 {
        font-size: 25px;
        padding-top: 15px;
        margin-left: 4px;
        width: fit-content;
    }

    .Form {
        justify-content: center;
        width: 400px;   
    }

    .Porto, .Form, .aboutme {
        margin: 5px 3px;
        width: 550px;
    }

    .images img {
        float: none;
        width: 300px;
    }

    #one, #two, #three, #four, #five, #six {
        margin-left: 100px;
    }
    
    .images { 
        width: 550px;
    }
    #contact { 
        margin-right: 10px;
    }

    .Porto h2 {
        width: 550px;
    }

    .aboutme img {
        height: 360px;
        width: 270px;
    }

@media only screen and (max-width: 640px) {
   header h1 {
       font-size: 20px;
       padding-top: 15px;
       margin-left: 2px;
       width: fit-content;
   }

   #contact, #about, #portfolio {
    padding: 1;
    margin-top: 5px;
    margin-right: 1px;
   }

   .Porto, .Form, .aboutme {
       margin: 5px 3px;
       width: 400px;
   }

   .Form {
       justify-content: left;
   }

   .footer {
       font-size: 13px;
   }

   .aboutme h2, .Porto h2 {
       font-size: 50px;
       width: 390px;
   }

   .aboutme img {
       height: 519px;
       width: 390px;
   }

   .images img {
       float: none;
       width: 300px;
   }

   #one, #two, #three, #four, #five, #six {
       width: 100% !important;
       flex-flow: column wrap;
       margin-left: 27px;
   }
}

  
}